<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            getPage: '@Url.RouteUrl("DefaultApi", new {controller = "Blog", action = "page" })'
        }
    </script>
    <title>React Template</title>
    <link href="http://s-ponomarev.ru/todolist/static/css/main.33cf709f.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="content"></div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>